org.orbisgis.geoview/src/main/resources/org/orbisgis/views/geocatalog/persistence.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

</xs:schema>