orbisgis-core/xml-resources/jaxb/SeBindings/Function.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.opengis.net/se"
  xmlns:se="http://www.opengis.net/se" xmlns:gml="http://www.opengis.net/gml"
  xmlns:ogc="http://www.opengis.net/ogc"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:include schemaLocation="common.xsd"/>
  <xsd:import namespace="http://www.opengis.net/ogc"
    schemaLocation="../../filter/1.1.0/filter.xsd"/>
  <xsd:import namespace="http://www.opengis.net/gml"
    schemaLocation="../../gml/3.1.1/base/units.xsd"/>

  <!-- ********************************************************************* -->
  <xsd:annotation>
    <xsd:documentation>Function element</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Function" type="se:FunctionType" abstract="true"
    substitutionGroup="ogc:expression"/>
  <xsd:complexType name="FunctionType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="ogc:ExpressionType">
        <xsd:attribute name="fallbackValue" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>Numeric formatting function</xsd:documentation>
  </xsd:annotation>

  <!-- ********************************************************************* 
  <xsd:element name="FormatNumber" type="se:FormatNumberType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Function for formatting numbers to make them human readable.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FormatNumberType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:NumericValue"/>
          <xsd:element ref="se:Pattern"/>
          <xsd:element ref="se:NegativePattern" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="decimalPoint" type="xsd:string" use="optional"
          default="."/>
        <xsd:attribute name="groupingSeparator" type="xsd:string" use="optional"
          default=","/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NumericValue" type="se:ParameterValueType"/>
  <xsd:element name="Pattern" type="xsd:string"/>
  <xsd:element name="NegativePattern" type="xsd:string"/>-->

  <!-- ********************************************************************* 
  <xsd:annotation>
    <xsd:documentation>Date formatting function</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="FormatDate" type="se:FormatDateType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Function for dates.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FormatDateType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:DateValue"/>
          <xsd:element ref="se:Pattern"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DateValue" type="se:ParameterValueType"/>-->

  <!-- ********************************************************************* -->
  <xsd:annotation>
    <xsd:documentation>String formatting functions</xsd:documentation>
  </xsd:annotation>

  <!-- *********************************************************************
  <xsd:element name="Substring" type="se:SubstringType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Returns substrings.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SubstringType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:StringValue"/>
          <xsd:element ref="se:Position" minOccurs="0"/>
          <xsd:element ref="se:Length" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="StringValue" type="se:ParameterValueType"/>
  <xsd:element name="Position" type="se:ParameterValueType"/>-->

  <!-- *********************************************************************
  <xsd:element name="Concatenate" type="se:ConcatenateType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Concatenates strings.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ConcatenateType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:StringValue" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>-->

  <!-- ********************************************************************* 
  <xsd:element name="ChangeCase" type="se:ChangeCaseType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Changes the case of strings.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ChangeCaseType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:StringValue"/>
        </xsd:sequence>
        <xsd:attribute name="direction" type="se:directionType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="directionType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="toUpper"/>
      <xsd:enumeration value="toLower"/>
    </xsd:restriction>
  </xsd:simpleType>-->

  <!-- ********************************************************************* 
  <xsd:element name="Trim" type="se:TrimType" substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Strips off chars from a string value</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TrimType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:StringValue"/>
        </xsd:sequence>
        <xsd:attribute name="stripOffPosition" type="se:stripOffPositionType"/>
        <xsd:attribute name="stripOffChar" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="stripOffPositionType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="leading"/>
      <xsd:enumeration value="trailing"/>
      <xsd:enumeration value="both"/>
    </xsd:restriction>
  </xsd:simpleType>-->

  <!-- ********************************************************************* 
  <xsd:element name="StringPosition" type="se:StringPositionType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Returns position of first occurence of a substring</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StringPositionType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:LookupString"/>
          <xsd:element ref="se:StringValue"/>
        </xsd:sequence>
        <xsd:attribute name="searchDirection" type="se:searchDirectionType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LookupString" type="se:ParameterValueType"/>
  <xsd:simpleType name="searchDirectionType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="frontToBack"/>
      <xsd:enumeration value="backToFront"/>
    </xsd:restriction>
  </xsd:simpleType>-->

  <!-- *********************************************************************
  <xsd:element name="StringLength" type="se:StringLengthType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Returns length of string</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="StringLengthType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:StringValue"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>-->

  <!-- ********************************************************************* -->
  <xsd:annotation>
    <xsd:documentation>Categorize function</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Categorize" type="se:CategorizeType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>The transformation of continuous values to distinct values.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CategorizeType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:LookupValue"/>
          <xsd:element ref="se:FirstValue"/>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="se:Threshold"/>
            <xsd:element ref="se:Value"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="threshholdsBelongTo"
          type="se:ThreshholdsBelongToType" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LookupValue" type="se:ParameterValueType"/>
  <xsd:element name="FirstValue" type="se:ParameterValueType"/>
  <xsd:element name="Threshold" type="se:ParameterValueType"/>
  <xsd:simpleType name="ThreshholdsBelongToType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="succeeding"/>
      <xsd:enumeration value="preceding"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ********************************************************************* -->
  <xsd:annotation>
    <xsd:documentation>Interpolate function</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Interpolate" type="se:InterpolateType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>The transformation of continuous values to a number of values.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InterpolateType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:LookupValue"/>
          <xsd:element ref="se:InterpolationPoint" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="mode" type="se:ModeType"/>
        <xsd:attribute name="method" type="se:MethodType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterpolationPoint" type="se:InterpolationPointType"
    substitutionGroup="ogc:expression"/>
  <xsd:complexType name="InterpolationPointType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ExpressionType">
        <xsd:sequence>
          <xsd:element ref="se:Data"/>
          <xsd:element ref="se:Value"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Data" type="xsd:double"/>
  <xsd:simpleType name="ModeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="linear"/>
      <xsd:enumeration value="cosine"/>
      <xsd:enumeration value="cubic"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MethodType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="numeric"/>
      <xsd:enumeration value="color"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- ********************************************************************* -->
  <xsd:element name="Recode" type="se:RecodeType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Transformation of discrete values to other values</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="RecodeType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:LookupValue"/>
          <xsd:element ref="se:MapItem" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MapItem" type="se:MapItemType"
    substitutionGroup="ogc:expression"/>
  <xsd:complexType name="MapItemType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ExpressionType">
        <xsd:sequence>
          <xsd:element ref="se:Data"/>
          <xsd:element ref="se:Value"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- *********************************************************************
  <xsd:element name="Dimension" type="se:DimensionType"
    substitutionGroup="se:Function">
    <xsd:annotation>
      <xsd:documentation>Returns the dimensionality of geometry object: points=0, curves=1, surfaces=2 [ISO 19125-1].</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="DimensionType">
    <xsd:complexContent>
      <xsd:extension base="se:FunctionType">
        <xsd:sequence>
          <xsd:element ref="se:Geometry"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType> -->

</xsd:schema>
